NAMING_BASE=flaskproject

PGSQL_CONTAINER_NAME=$NAMING_BASE-pg
DATABASE=postgres
POSTGRES_USER=hello_flask
POSTGRES_PASSWORD=hello_flask
POSTGRES_DB=hello_flask_de
POSTGRES_PORT=5432

FLASK_CONTAINER_NAME=$NAMING_BASE-app
FLASK_APP=app.py
FLASK_DEBUG=1
DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$PGSQL_CONTAINER_NAME:$POSTGRES_PORT/$POSTGRES_DB
APP_FOLDER=/usr/src/app